
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
:root{
    --background-color:#000000;
    --main-color: #B8621B;
    --secondary-color: #4D2DB7;
    --tertiary-color: #E3CCAE;
    --text-color: #ffffff;
    --secondary-text-color: #BBADEB;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
*::-webkit-scrollbar-track {
    background:  #1c1531f6;
    padding: 4px 0;
    border-radius: 10px;
}

*::-webkit-scrollbar {
    width: 10px;
}
*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:#555 ;
    border: 2px solid  #1c1531f6;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-color);
}

.divider {
    height: 5rem;
    background-color: #00000036; /*any color with lower opacity*/
    border: solid rgba(0, 0, 0, 0.205);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.accordion-body{
    padding: 1rem;
}


.acc-btn{
    --bs-accordion-bg: var(--background-color);
}
._cont{
    border-radius: 20px;
    padding: 1rem;
}
.tab-box{
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #fcfcfc;
    padding-bottom: .3rem;
}
.tab-box .tab-btn{
    width: 20%;
    font-size: 18px;
    font-weight: 600;
    color: var(--main-color);
    background: none;
    border: .1rem solid var(--main-color);
    padding: 18px;
    margin-right: .5rem;
    cursor: pointer;
    border-radius: 10px;
    transition: .2s;
}
.tab-box .tab-btn.active{
    background-color: var(--main-color);
    color: var(--text-color);
}
.cont-box{
    padding: 20px;
}
._content{
    display: none;
}
._content.active{
    display: block;
}